.likes-and-comments {
    display: flex;
    align-items: center;
}

.liked-heart {
    color: red
}
.unliked-heart {
    color: black
}
.comment-form {
    display: flex;
    gap: 2px;
}
.comment-field{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}
.card-body {
    color: black;
}